<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
</configSections>
<log4net>
  <root>
    <level value="ALL" />
    <appender-ref ref="LogglyAppender" />
  </root>
  <appender name="LogglyAppender" type="log4net.loggly.LogglyAppender, log4net-loggly">
    <rootUrl value="http://collector01.chipper01.loggly.net/inputs/89e8b8e9-439f-4be6-b5b2-269a9ebdfeaa/tag/Error-StackTrace/" />
    <inputKey value="89e8b8e9-439f-4be6-b5b2-269a9ebdfeaa" />
    <tag value="Log-HTTP" />
    <logicalThreadContextKeys value="lkey1,lkey2" />
    <!-- optional -->
    <globalContextKeys value="gkey1,gkey2" />
    <!-- optional -->
  </appender>
</log4net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>